{% extends 'base.html' %}
{% block body %}
<body style="background-color:powderblue;">
<div class="container" >
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">
  <img src="{{i.img.url}}" class="card-img-top" width="250px" height="300px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.desc}}</p>
    <a href="{% url 'movieeapp:detail' i.id %}" class="btn btn-primary">view details</a>
  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>

{% endblock %}
